<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link type="text/css" href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <title>Login</title>
    {% load socialaccount %}
    {% providers_media_js %}
</head>
<body>
<div class="container">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <div class="card-body">
                        {% for message in messages %}
                        <div class="mb-3 bg-danger text-white text-center p-1">
                            {{ message.message }}
                        </div>
                        {% endfor %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">아이디</label>
                                <input name="username" type="text" class="form-control" id="username"
                                       placeholder="아이디를 입력하세요">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">비밀번호</label>
                                <input name="password" type="password" class="form-control" id="password"
                                       placeholder="비밀번호를 입력하세요">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary m-3">로그인</button>
                                <button type="button" class="btn btn-success m-3"
                                        onclick="window.location.href = '/auth/join'">회원가입
                                </button>
                                <button type="button" class="btn btn-danger m-3"
                                        onclick="window.location.href = '/gallery'">취소
                                </button>
                            </div>
                        </form>
                        <br>
                        <hr>
                        <div class="text-center">
                            <p class="text-secondary small">간단 로그인</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'account_logout' %}?next=/auth/login">로그아웃</a>
                            {{ user.username }} 님이 활동중
                            {% else %}
                            <a href="{% provider_login_url 'google' %}">
                                <img src="/static/img/web_light_rd_na@2x.png" alt="구글" width="50px" height="50px"/>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>