<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link type="text/css" href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <title>Login</title>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Login</h3>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label for="userId">ID</label>
                {% if user.is_authenticated %}
                <input type="text" class="form-control" id="userId" value="{{ user.username }}" readonly>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="userpassword">Password</label>
                <input type="password" class="form-control" id="userpassword" value="------" readonly>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                {% if user.is_authenticated %}
                <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
                {% endif %}
            </div>
            <hr>
            <div class="d-flex justify-content-end ">
                <button type="button" class="btn btn-success m-3"
                        onclick="window.location.href = '/auth/profile/update'">수정하기
                </button>
                <button type="button" class="btn btn-danger m-3"
                        onclick="window.location.href = '/gallery'">돌아가기
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>